.categories
{
    background-color: #eff6ff;
    padding: 50px 100px;
}
.box
{
    background-color: #ffffff;
    padding: 10px 20px;
}
.box img{

 width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width:600px)
{
    .course
{
    background-color: #eff6ff;
    padding: 50px 10px;
}
}